# Rust
/target/
**/*.rs.bk

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyd
*.so
.venv/
.env
build/
dist/
*.egg-info/
.mypy_cache/
.pytest_cache/

# LanceDB / Data
*.lance/
knowledge_base/
output/
data/
.fastembed_cache/
protoc/
__protoc__
# Editor / IDE
.vscode/
.idea/
*.swp
*.swo
.qoder
# OS
.DS_Store
Thumbs.db
dev
